@{ 
    ViewBag.Title = "Api Test";
}

<h2>Api Test</h2>

<p id="message" style="color:red;font-weight:bold"></p>
<ul id="locations"></ul>
LOCATION ID:
<input type="text" id="carId"/>
<br />
<button onclick="doList()">List</button>
<button onclick="doAdd()">Add</button>
<button onclick="doMod()">Mod</button>
<button onclick="doDel()">Del</button>