@model Webshop.Web.Models.LocationsViewModel
@{
    ViewBag.Title = "Crud Index";
}

<h2>Locations Index</h2>

<p style="color:red; font-weight: bold">@TempData["editResult"]</p>

@Html.Partial("LocationEdit", Model.EditedLocation)
@Html.Partial("LocationList", Model.ListOfLocations)

